<app-firstfile />
<main>
    <ul>
      @for (user of users; track user.id) {
        <li>
            <app-user
                [id]="user.id"
                [avatar]="user.avatar"
                [name]="user.name"
                [selected]="selectUserId === user.id"
                (select)="onSelectUser($event)"
                />
        </li>
      }
    </ul>
   <!-- <app-tasks [name]="selectUser ? selectUser.name:'Some thing went Wrong !'"
      [userId]="selectUser? selectUser.id:'wrong'"/>
  -->
      @if (selectUser) {
        <app-tasks [name]="selectUser.name"
        [userId]="selectUser.id"/>
      }
      @else {
        <p>Select a user to their details tasks</p>
      }
</main>
